{% load static %}

<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>P4 Drawing</title>

  <link rel="stylesheet" type="text/css" href="{% static 'draw/vendor/bootstrap/css/bootstrap.min.css' %}">
  <script type="text/javascript" src="{% static 'draw/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'draw/vendor/paper/paper-full.min.js' %}"></script>
  <script type="text/javascript" src="https://cdn.rawgit.com/alexgibson/shake.js/master/shake.js"></script>
  

</head>
<body>
  <!-- You may change the dimensions of this canvas -->
  <script>
  var myUrl = window.location.href;
  var mySize = myUrl.split('=')[1];
  if(mySize=='small'){
    $("body").html("smol");}
  else if(mySize=='large'){
    $("body").html("larj");}
  </script>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm"></div>
      <div class="col-sm">
      <p>ROUND</p>
      <p>TIME</p>
      <p>VOTED: 2/5</p>
      <p>something</p>
      </div>
      <div class="col-sm"></div>
    </div>
    <div class="row">
      <div class="col-sm">
        <p>1</p>
        <p>name: Chris Hemsworth</p>
        <p><div>picture</div></p>
      </div>
      <div class="col-sm">
        <p>2</p>
        <p>name: Chis Evans</p>
        <p><div>picture</div></p>
      </div>
    </div>
    
  </div>
  <style type="text/css">
    
    div{
      text-align: center;
    }
    .large-image-left{
      
    }
  </style>
</body>
<script>//class is ., div is nothing, id is #

  
</script>
</html>